
@font-face {
  font-family: 'HoboStd';
  src: url('../fonts/HoboStd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HoboStd.otf')  format('opentype'),
	     url('../fonts/HoboStd.woff') format('woff'), url('../fonts/HoboStd.ttf')  format('truetype'), url('../fonts/HoboStd.svg#HoboStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
